@model MovieModel


<form method="post" asp-action="MovieSearch">
	Search for movie <input type="text" name="title" />

	<input type="submit" />
</form>

<div style="margin: auto; text-align: center">

	@{
		if (Model != null)
		{
			<h1> @Model.Title </h1>
			<h2> @Model.Genre </h2>

			<p> @Model.Year, Rated @Model.Rated, Directed by @Model.Director</p>
		}

	}

</div>

